body{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  background: linear-gradient(rgba(0,0,0,0.95)rgba(0,0,0,0.95)0)rgba(0,0,0,0.38)rgba(0,0,0,0);
  background-image: url(sushihomepage.webp);
  background-size: cover;

}



.Container{
  width:900px;
  float: right;
  margin: 10px;
  border: 1px solid black;
}

.Container ul li{
  width: 120px;
  float: left;
  margin: 10px auto;
  text-align: center;
}




 .Container ul li a{ text-decoration: none;
  color: darkgray;

 }

 .Container ul li:hover{ background-color:orange;
   
 }

 .Container ul li a:hover{ color: white;

 }

 .About{
   width: 300px; 
   height: 530px;
   background-color: black;
   opacity: 0.9;
   padding: 55px;

 }

 .About{
  text-align: center;
  text-transform: uppercase;
  font-weight: 100px;


 }

 .About h4{
   text-align: justify;
   font-weight: normal;
 }

.About h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 40px auto;
}

.opt form , input [type=button]{
  background-color: black;
  color: white;
  padding: 10px; 
  margin: -14px auto;
}

           